<ion-grid fixed>
  <ion-row >
    <ion-col *ngFor="let item of items | FilterListaTest:textoFilter:'entidad_con' ; let i = index " size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">

      <app-item [item]="item" [index]="i + 1"></app-item>

    </ion-col>
  </ion-row>
  
</ion-grid>

<ion-grid fixed>

<ion-row *ngIf="msgError">
  <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
  <ion-card>

    <ion-card-title class="ion-padding ion-margin">
      <span>{{ msgError | uppercase }}</span>
    </ion-card-title>
  </ion-card>

  </ion-col>
</ion-row>
</ion-grid>