<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Blackfin corp</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-items [items]="listaTest" [msgError]="msgError"></app-items>

  <!-- <ion-content color="light">
    <ion-list [inset]="true">
      <ion-item *ngFor="let item of listaTest; let i = index;">
        <ion-label>{{item.matricula_ent}}  {{  i + 1 }} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content> -->
  <!-- <app-explore-container name="Tab 1 page">

  </app-explore-container> -->
</ion-content>